:root {
    --primary-font: 'Roboto', sans-serif;
    --black-color: #212121;
    --blue-color: #2196F3;


}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

address{
 font-style: normal;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: normal;
    color: var(--black-color);
}
h1,
h2,
h3,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}
img{
    display: block;
}
.buttons{
    display: flex;
    justify-content: center;}

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* текст чорного кольору і  параметри шрифту */
.menu a,
.contacts {
    font-weight: 500;
    letter-spacing: 0.28px;
    /* плавна зміна кольору */
    transition: color 300ms ease-in-out; 
}

.contacts {    
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    color: #757575;
    margin-right: 40px;
}

.contacts svg {
    fill: #757575;
    transition: fill 300ms ease-in-out;
}

.contacts:hover svg,
.contacts:focus svg {
    fill: var(--blue-color);
}

.contacts__list {
    margin-left: auto;
}

  /* При наведенні мишки текст стає синім */
.menu a:hover,
.menu a:focus,
.contacts:hover,
.contacts:focus {
    color: var(--blue-color);
}

.container{                             /* основа*/
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border-bottom: 1px solid #ECECEC;
    height: 80px;
}
.header> .container{
    display: flex;
    align-items:center;
    flex-direction: row;
}
.menu_header{
    display: flex;
    align-items: center;
    height: 100%;
}

.list {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.big_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
li{
    display: inline-block;
}


.about-us__title{
    margin-bottom: 10px;
}
.contacts{
    margin-left: auto;
}

.about-us__inner {
    display: flex;
    justify-content:center;
    gap: 30px;
}

.about-us__item {
    max-width: 270px;
}

.what-we-do__img-container{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: 294px;   
}
.what-we-do{
    padding-bottom: 94px;
}

/* Стиль для посилання "WebStudio" */
.web-studio span {
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: normal;
  }
.web-studio_b span {
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: normal;
  }
.web-studio {
    font-family: Raleway;
    color: black;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
.hero__text {
    width: 696px;
    color: white;
    text-align: center;
    font-size: 44px;
    line-height:136.364%; 
    font-weight: 900;
    max-width: 696px;
    margin-bottom: 30px;
    letter-spacing: 2.64px;
    text-transform: uppercase;}

   /*   background-image: url('images/BG-img.jpg');
    background-size: 1600px 600px;
    background: rgba(47, 48, 58, 0.40);
    background-image: linear-gradient();
    max-width: 100%;
    max-height: 100%;
}*/
.hero {
    background-color: #2F303A;
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center; /* Центрування по вертикалі */
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/BG-img.jpg");
    background-size: cover;
    }
.btn {
    color: #FFF;
    text-align: center;
    letter-spacing: 0.96px;
    font-size: 16px;
    background: #2196F3;
    border-radius: 0px;
    line-height: 187.5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    text-align: center;
    padding: 10px 24px;
    border-radius: 4px;
    }

    .about-us{
        padding: 94px 0px;
    }
    .about-us__title>.about-us__text{
        padding-bottom: 10px;
    }
.what-we-do__img-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;   
    }

.about-us__title{
color: #212121;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-align: left;
text-transform: uppercase;
}
.about-us__text{
flex-shrink: 0;
color: #757575;
font-size: 14px;
line-height: 171.429%;
text-align: left;
font-weight: 400;
letter-spacing: 0.42px;
}

.what-we-do__title {
color: #212121;
text-align: center;
font-size: 36px;
line-height: normal;
font-weight: 700;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.our-team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}


.our-team__inner{
    display: flex;
    justify-content:center;
    width: 100%;
}
.our-team__item {
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.our-team__item:not(:first-child)
{
margin-left:30px;
}
.our-team__img {
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    /* material shadow v1 */
}
.our-team__wrap {
    padding: 30px;
}

.our-team__title {
color: #212121;
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
margin-bottom: 50px;}

.our-team__name{
color: #212121;
text-align: center;
font-size: 16px;
line-height: normal;
font-weight: 500;
letter-spacing: 0.48px;
padding-bottom: 10px;}



.our-team__job{
    color: #757575;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
 }
.end {
    background: #2F303A;
}
.end p{
    color: #FFF;
    text-decoration: none; 
    font-size: 14px;
    line-height: 114.286%;
    letter-spacing: 0.42px;}

.web-studio_b {
    color: white;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-left: 174px;
}


.adr {
    color: var(--background-primary-color);
    line-height: 16px;
    padding-top: 28px;
    letter-spacing: 0.42px;
    font-style: normal;
    margin-bottom: 12px;
    margin-left: 174px;
}

.connect{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 114.286%;
    letter-spacing: 0.42px;
    margin-left: 174px;
}
.connect:hover {
    cursor: pointer;
}

.end{
    padding-top: 60px;
    padding-bottom: 60px;
}
.teleph{
    margin-top: 12px;
}
.connect_information{
    display: flex;
    flex-direction: column;
}
/*-- portfolio --*/

.catalog__list_item{
    
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #EEE;
}

.products{
    padding-top: 94px;
    padding-bottom: 94px;
}
    
.catalog__img{
    display: flex;
    flex-wrap: wrap;
}
.catalog__list{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:30px;
    background: #FFF; 
}
.catalog__list_item {
    max-width: 370px;
}
.catalog__wrap{
    padding: 20px 24px;
    line-height: normal;    
}
.catalog__wrap:not(:last-child) {
    padding-bottom: 4px;
}
.main__button{
    border: none;
    text-decoration: none; /* Відмінити стилізацію посилань */
    display: inline-block;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
        
}
.catalog__name {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    line-height: 200%;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1.08px;
}    
.catalog__specification {
    color: #757575;
    font-size: 16px;
    line-height: 187.5%;
    letter-spacing: 0.48px;
}    

.main {
    gap: 8px;
    display: flex;
    align-items: center; /* Центрування по горизонталі */
    justify-content: center;
}
    
.main__button {
    color: #212121;
    text-align: center;
    font-size: 16px;
    line-height: 162.5%;
    font-weight: 500;
    letter-spacing: 0.48px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    transition: color 0.3s, background 0.3s; /* Додаємо перехідні анімації */
  }
  
.main__button:hover {
    color: #FFF;
    background: #2196F3;
  }
/*---------------SVG------------------*/
.icon-amail {
    width: 16px; 
    height: 12px;
}
.icon-smartphone {
    width: 10px; 
    height: 16px;
}
.content__image {
    width: 70px;
    height: 70px;
}
.content-team__content {
    width: 20px;
    height: 20px;
    fill:#AFB1B8;
}

.join__item__content {
    width: 20px;
    height: 20px;
    fill: white;
}
.fulltime-clients__img {
    width: 106px;
    height: 60px;
    fill:#AFB1B8;
    transition: color 0.3s ease;
}

/*---------------*/
.footer-container{
    display: flex;
    align-items: baseline;
    gap: 94px;
}
.join {
    max-width: 206px;
    max-height: 80px;
}
.join__title {
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
.join__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.our-team__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.our-team__link a{
    width: 44px;
    height: 44px;
    transition: 300ms;
    display: inline-block;
    border-radius: 50%;
    padding: 12px 12px;
}
.our-team__link a:hover,
.our-team__link a:focus {
    background: #2196F3;
}

.our-team__link a:hover svg {
    fill: #ffffff;
}

.join__item:hover,
.join__item:focus {
    background: #2196F3;
}

.fulltime-clients {
    padding: 94px 0;
}

.fulltime-clients__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.fulltime-clients__title{
    text-align: center;
    color: var(--black-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.fulltime-clients__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    cursor: pointer;
    transition: border 0.1s ease;
}
.fulltime-clients__inner a:hover {
    border: 1px solid #2196F3;
}
.fulltime-client__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}
.fulltime-clients__inner a:hover svg,
.fulltime-clients__inner a:focus svg {
    fill: #2196F3;
    
}
.about-us__content{
  background: #F5F4FA;
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}
