:root {
    --primary-font: 'Roboto', sans-serif;
    --black-color: #212121;
    --blue-color: #2196F3;
    --gray-color: #757575;
    --white-color: #FFF;
    --asphalt-color: rgba(255, 255, 255, 0.1);
    --fog-color: #AFB1B8;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    border: none;
    font: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

address{
 font-style: normal;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: normal;
    color: var(--black-color);
}
h1,
h2,
h3,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}
img{
    display: block;
}
.buttons{
    display: flex;
    justify-content: center;}

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* текст чорного кольору і  параметри шрифту */
.menu a,
.contacts {
    font-weight: 500;
    letter-spacing: 0.28px;
    /* плавна зміна кольору */
    transition: color 300ms ease-in-out; 
}

.contacts {    
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    color: var(--gray-color);;
    margin-right: 40px;
}

.contacts svg {
    fill: var(--gray-color);;
    transition: fill 300ms ease-in-out;
}

.contacts:hover svg,
.contacts:focus svg {
    fill: var(--blue-color);
}

.contacts__list {
    margin-left: auto;
}

  /* При наведенні мишки текст стає синім */
.menu a:hover,
.menu a:focus,
.contacts:hover,
.contacts:focus {
    color: var(--blue-color);
}

.container{                             /* основа*/
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border-bottom: 1px solid #ECECEC;
    height: 80px;
}
.header> .container{
    display: flex;
    align-items:center;
    flex-direction: row;
}
.menu_header{
    display: flex;
    align-items: center;
    height: 100%;
}
.link{
    position: relative;
    padding-top:  32px;
    padding-bottom: 32px;
}
.link_active{
    color: var(--blue-color)
}
.link_active::after{
    content: "";
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0px;
    width: 100%;
}

.list {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.big_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
li{
    display: inline-block;
}


.about-us__title{
    margin-bottom: 10px;
}
.contacts{
    margin-left: auto;
}

.about-us__inner {
    display: flex;
    justify-content:center;
    gap: 30px;
}

.about-us__item {
    max-width: 270px;
}

.what-we-do__img-container{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: 294px;   
}
.what-we-do{
    padding-bottom: 94px;
    
}

.what-we-do__item{
    position: relative;
}
.what-we-do__text-mini{
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 27px 0;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/* Стиль для посилання "WebStudio" */
.web-studio span {
    color: var(--blue-color);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: normal;
  }
.web-studio_b span {
    color: var(--blue-color);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: normal;
  }
.web-studio {
    font-family: Raleway;
    color: var(--black-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
.hero__text {
    width: 696px;
    color: var(--white-color);
    text-align: center;
    font-size: 44px;
    line-height:136.364%; 
    font-weight: 900;
    max-width: 696px;
    margin-bottom: 30px;
    letter-spacing: 2.64px;
    text-transform: uppercase;}

   /*   background-image: url('images/BG-img.jpg');
    background-size: 1600px 600px;
    background: rgba(47, 48, 58, 0.40);
    background-image: linear-gradient();
    max-width: 100%;
    max-height: 100%;
}*/
.hero {
    background-color: var(--asphalt-color);
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center; /* Центрування по вертикалі */
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;
    background: linear-gradient(var(--asphalt-color),var(--asphalt-color)),
        url("../images/BG-img.jpg");
    background-size: cover;
    }
.btn {
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.96px;
    font-size: 16px;
    background: var(--blue-color);
    line-height: 187.5%;
    box-shadow: 0px 4px 4px 0px var(--asphalt-color);    
    display: inline-block;
    padding: 10px 24px;
    border-radius: 4px;
    }

    .about-us{
        padding: 94px 0px;
    }
    .about-us__title>.about-us__text{
        padding-bottom: 10px;
    }
.what-we-do__img-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;   
    }

.about-us__title{
color: var(--black-color);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-align: left;
text-transform: uppercase;
}
.about-us__text{
flex-shrink: 0;
color: var(--gray-color);;
font-size: 14px;
line-height: 171.429%;
text-align: left;
font-weight: 400;
letter-spacing: 0.42px;
}

.what-we-do__title {
color: var(--black-color);
text-align: center;
font-size: 36px;
line-height: normal;
font-weight: 700;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.our-team {
    background: #F5F4FA    ;
    padding-top: 94px;
    padding-bottom: 94px;
}


.our-team__inner{
    display: flex;
    justify-content:center;
    width: 100%;
}
.our-team__item {
    background: var(--white-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.our-team__item:not(:first-child)
{
margin-left:30px;
}
.our-team__img {
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--white-color);
    /* material shadow v1 */
}
.our-team__wrap {
    padding: 30px;
}

.our-team__title {
color: var(--black-color);
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
margin-bottom: 50px;}

.our-team__name{
color: var(--black-color);
text-align: center;
font-size: 16px;
line-height: normal;
font-weight: 500;
letter-spacing: 0.48px;
padding-bottom: 10px;}



.our-team__job{
    color: var(--gray-color);;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
 }
.end {
    background: #2F303A;
}
.end p{
    color: var(--white-color);
    text-decoration: none; 
    font-size: 14px;
    line-height: 114.286%;
    letter-spacing: 0.42px;}

.web-studio_b {
    color: var(--white-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-left: 174px;
}


.adr {
    color: var(--white-color);
    line-height: 16px;
    padding-top: 28px;
    letter-spacing: 0.42px;
    font-style: normal;
    margin-bottom: 12px;
    margin-left: 174px;
}

.connect{
    color: var(--fog-color);
    font-size: 14px;
    line-height: 114.286%;
    letter-spacing: 0.42px;
    margin-left: 174px;
}

.end{
    padding-top: 60px;
    padding-bottom: 60px;
}
.teleph{
    margin-top: 12px;
}
.connect_information{
    display: flex;
    flex-direction: column;
}
/*-- portfolio --*/

.catalog__list_item{
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #EEEEEE;
    
}
.catalog__list_item:hover,
.catalog__list_item:focus{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.products{
    padding-top: 94px;
    padding-bottom: 94px;
}
    
.catalog__img{
    display: flex;
    flex-wrap: wrap;
}
.catalog__list{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:30px;
    background: var(--white-color); 
}
.box {
    position: relative;
    overflow: hidden;
  }
.description {
    transition:cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms ease;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    /* background-color: var(--blue-color); */
    /* opacity: 0.9; */
  }
  .description-text {
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding: 63px 24px;
  }
  .catalog__list_item:hover .description {
    transform: translateY(0);
  }
.catalog__list_item {
    max-width: 370px;
}
.catalog__wrap{
    padding: 20px 24px;
    line-height: normal;    
}
.catalog__wrap:not(:last-child) {
    padding-bottom: 4px;
}
.main__button{
    border: none;
    text-decoration: none; /* Відмінити стилізацію посилань */
    display: inline-block;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
        
}
.catalog__name {
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    line-height: 200%;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1.08px;
}    
.catalog__specification {
    color: var(--gray-color);;
    font-size: 16px;
    line-height: 187.5%;
    letter-spacing: 0.48px;
}    

.main {
    gap: 8px;
    display: flex;
    align-items: center; /* Центрування по горизонталі */
    justify-content: center;
}
    
.main__button {
    color: var(--black-color);
    text-align: center;
    font-size: 16px;
    line-height: 162.5%;
    font-weight: 500;
    letter-spacing: 0.48px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    transition: color 0.3s, background 0.3s; /* Додаємо перехідні анімації */
  }
  
.main__button:hover,
.main__button:focus{
    color: var(--white-color);
    background: var(--blue-color);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms, color 250ms, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.email_title{
    color: var(--white-color);
    margin-bottom: 20px;
    font-weight: 700;    
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.email_input{
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 15px 16px;
    width: 358px;
    color: #afb1b8;
    background-color: #2f303a;
}
.email_input::placeholder{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;
  }
  .button_subscribe{
    margin-left: 12px;
    padding: 10px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.96px;
    color: var(--white-color);
    line-height: 1.875;
    background-color: var(--blue-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
.button_subscribe:focus,
.bbutton_subscribe:hover {
  background-color: var(--blue-color);
}
.button_submit_footer{
    display: flex;
    align-items: center;
    gap: 10px;
  }

/*---------------SVG------------------*/
.icon-amail {
    width: 16px; 
    height: 12px;
}
.icon-smartphone {
    width: 10px; 
    height: 16px;
}
.content__image {
    width: 70px;
    height: 70px;
}
.content-team__content {
    width: 20px;
    height: 20px;
    fill:var(--fog-color);
}

.join__item__content {
    width: 20px;
    height: 20px;
    fill: var(--white-color);
}
.fulltime-clients__img {
    width: 106px;
    height: 60px;
    fill:var(--fog-color);
    transition: color 0.3s ease;
}

/*---------------*/
.footer-container{
    display: flex;
    align-items: baseline;
    gap: 94px;
}
.join {
    max-width: 206px;
    max-height: 80px;
}
.join__title {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--white-color);
}
.join__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: var(--asphalt-color);
    border-radius: 50%;
    color: var(--white-color);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.our-team__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.our-team__link a{
    width: 44px;
    height: 44px;
    transition: 300ms;
    display: inline-block;
    border-radius: 50%;
    padding: 12px 12px;
}
.our-team__link a:hover,
.our-team__link a:focus {
    background: var(--blue-color);
}

.our-team__link a:hover svg,
.our-team__link a:focus svg
{
    fill: var(--white-color);
}

.join__social:hover,
.join__social:focus {
    background: var(--blue-color);
}

.fulltime-clients {
    padding: 94px 0;
}

.fulltime-clients__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.fulltime-clients__title{
    text-align: center;
    color: var(--black-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.fulltime-clients__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
}
.fulltime-clients__inner a {
    border-radius: 4px;
    border: 1px solid var(--fog-color);
    transition: border-color 250ms;
}

.fulltime-clients__inner svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fulltime-clients__inner a:hover, 
.fulltime-clients__inner a:focus {
    border-color: var(--blue-color);
}
.fulltime-client__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}
.fulltime-clients__inner a:hover svg,
.fulltime-clients__inner a:focus svg {
    fill: var(--blue-color);
    
}
.about-us__content{
  background: #f5f4fa;
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: var(--white-color);
    border-radius: 4px;
    width: 528px;
}
.btn_close:hover .modal_close{
    fill: var(--blue-color);
}
.modal_close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--black-color);
    width: 18px;
    height: 18px;
}
.backdrop{
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1; 
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.btn_close{
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    fill: var(--black-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.modal_title{
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.6px;
}
.btn_send{
    display: inline-block;
    align-self: center;
    color: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--blue-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    letter-spacing: 0.96px;
    line-height: 1.875;
    padding: 10px 52px;
}
.contract{
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.modal_check{
    position: absolute;
    left: 10px;
    bottom: 6px;
    opacity: 0;
    pointer-events: none;
}
.modal_label_check svg {
    transition: fill 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 16px;
    height: 15px; 
    border: 2px solid var(--asphalt-color);
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}
.modal_check:checked + .modal_label_check svg {
    fill: var(--white-color);
    border: none;
    background-color: var(--blue-color);
}
.modal_check,
.modal_label_check{
    cursor: pointer;
}
.modal_label_check{
    color: var(--gray-color);
    line-height: 1.71;
    letter-spacing: 0.42px;
    padding-left: 8px;
}

.modal_label_text{
    position: relative;
    color: var(--gray-color);
    font-size: 12px;
    letter-spacing: 0.12px;
}
.modal_input{
    justify-content: center; /* Центрування по горизонталі */
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 1px solid rgba(33, 33, 33, 0.20);;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 11px 0 12px 42px;
    width: 448px;
    margin-top: 4px;
    color: var(--black-color);
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal_input:focus,
.modal_input:hover {
  outline: 1px solid var(--blue-color);
}
.icon_name_form{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--black-color);
    position: absolute;
    top: 29px;
    left: 10px;
}
.modal_input:focus + .icon_name_form,
.modal_input:hover + .icon_name_form {
  fill: var(--bluee-color);
}
.icon_form_name{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--black-color);
    position: absolute;
    top: 29px;
    left: 10px;
  } 
.comment{
    height: 120px;
    padding: 12px 16px;
    resize: none;
}
.comment::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    letter-spacing: 0.12px;
 }
.contract_check{
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
}

