:root{
    --primary-color: #212121;
    --secondary-color: #2196F3;
    --white-grey: #757575;
    --black-grey: #AFB1B8;
}
ul{
    padding: 0;
    margin: 0;
}
p,h2 {
    margin: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

textarea {
    outline: none;
}

a {
    color: #fff;
    text-decoration: none;
}

button,
a {
    font-family: inherit;
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    color: var(--primary-color);
}

button {
    font: inherit;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

.logob,
.logow {
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    
}
.logob{
    margin-right: 93px;
}

.logob span {
    color: #000;
}

.logow span {
    color: #FFF;
}

.navig {
    color: var(--primary-color);
    font-weight: 500;
    letter-spacing: 0.28px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 0.28px;
}

.navig-mail{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navig-mail>.icons:hover,
.navig-mail>.icons:focus {
    color: var(--secondary-color);
}

.navig:hover,
.navig:focus {
    color: var(--secondary-color);
}

.navig-list .navig:hover::after,
.navig-list .navig:focus::after {
    background: var(--secondary-color);
}

.navig-list .navig::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    border-radius: 2px;
    background: transparent;
    width: 100%;
    height: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active.navig::after{
    background: var(--secondary-color);
}

.shapka {
    max-height: 600px;
    padding: 200px 0;
    background: #2F303A;

    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),
    url("../images/BackGround.jpg");
}

.mtext {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 700px;
    margin: auto;
}

.buttona {
    display: block;
    border-radius: 4px;
    border: var(--secondary-color);
    background: var(--secondary-color);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    padding: 10px 24px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttona:hover,
.buttona:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

/* ffffffffffffffffff */

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.modal-content {
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: scale(0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

}

.modal-header {
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-label {
    position: relative;
    display: block;
    margin-bottom: 4px;
    color: var(--white-grey);
    font-size: 12px;
    letter-spacing: 0.12px;
}

.modal-item {
    margin-bottom: 10px;
}

.input-container {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 11px;
    left: 12px;
}

.modal-input {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    width: 100%;
    height: 40px;
    padding-left: 42px;
}

.modal-coment {
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 12px 16px;

    color: var(--primary-color);
    font-size: 12px;
    letter-spacing: 0.12px;
}

.modal-coment::placeholder{
    color: rgba(117, 117, 117, 0.50);
}

.modal-agree {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.38px;
}

.modal-agree-text {
    color: var(--white-grey);
    line-height: 171.429%;
    letter-spacing: 0.42px;
}

.modal-contract {
    color: var(--secondary-color);
    text-decoration: underline;
}

.modal-input:focus {
    border-color: var(--secondary-color);
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.modal-check-active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 15px;
    display: none;
}

.custom-check {
    position: relative;
    border: 2px solid var(--primary-color);
    width: 16px;
    height: 15px;
    border-radius: 2px;
}

.modal-check:checked + .custom-check>.modal-check-active {
    display: block;
}

.modal-check:checked + .custom-check {
    border-color: #fff;
}

.modal-coment:focus {
    border-color: var(--secondary-color);
}


.modal-window:not(.is-hidden) .modal-content {
    transform: scale(1);
}

.close-button {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
    background-color: #fff;
    padding: 6px;
    max-width: 30px;
    max-height: 30px;
}

.close-button:hover,
.close-button:focus {
    fill: var(--secondary-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  */

.busines {
    padding-top: 94px;
}

.busines-icons{
    border-radius: 4px;
    background: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
}
.newheader {
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.texth {
    color: var(--white-grey);
    line-height: 171.429%;
    letter-spacing: 0.42px;
    max-width: 270px;
}

.what-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.what-list {
    display: flex;
    gap: 30px;
    max-height: 294px;
}

.what-image {
    position: relative;
}

.what-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFF;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.80);
}

.whyheader {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.teamCard {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.teamPara{
    padding-top: 30px;
    padding-bottom: 30px;
}
.teamText {
    color: var(--white-grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}

.teamName {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.team-contacts{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-href{
    display: flex;
    border-radius: 50%;
    color: var(--black-grey);
    padding: 12px;
    transition: color 250s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250s cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-href:hover,
.team-href:focus{
    color: #fff;
    border-radius: 50%;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.teamSection {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers{
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-list{
    display: flex;
    gap: 30px;
}

.customers-item{
    max-width: 170px;
    border-radius: 4px;
    border: 1px solid var(--black-grey);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-href{
    display: inline-block;
    padding: 16px 32px ;
    color: var(--black-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-href:focus .customers-item {
    border-color: var(--secondary-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover .customers-href,
.customers-href:focus {
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.add {
    /* display: flex; */
    color: #FFF;
    line-height: 114.286%;
    letter-spacing: 0.42px;
    font-style: normal;
    /* gap: 94px; */
}

.add-flex{
    display: flex;
    gap: 94px;
    align-items: baseline;
}

.join-list {
    display: flex;
}

.inp-email {
    border-radius: 4px;
    padding: 15px 16px 15px;
    width: 358px;
    /* padding-right: ; */
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    color: rgba(255, 255, 255, 0.60);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp-email:focus{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.join-button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: var(--secondary-color);
    background: var(--secondary-color);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    padding: 10px 28px;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-button:hover,
.join-button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.foot-header{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.foot-contacts{
    display: flex;
    gap: 10px;
}

.foot-href{
    display: flex;
    color: #fff;
    padding: 12px;
    border: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    /* max-width: 44px;
    max-height: 44px; */
}

.foot-href:hover,
.foot-href:focus {
    color: #fff;
    border-radius: 50%;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
    color: rgba(255, 255, 255, 0.60);
}

.info:hover,
.info:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--secondary-color);
}

.filter-button {
    display: inline-block;
    border-radius: 4px;
    border: #F5F4FA;
    background-color: #F5F4FA;
    padding: 6px, 22px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0.48px;
    padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    color: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-head {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.portfolio-text{
    padding: 20px 24px 20px 24px;
    /* gap: 4px; */
}

.portfolio-filt {
    color: var(--white-grey);
    font-size: 16px;
    line-height: 187.5%;
    letter-spacing: 0.48px;
    /* margin-left: 24px;
    margin-bottom: 20px; */
}

.portfolio-card {
    border: 1px solid #eee;
    max-width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
    
    background: rgba(33, 150, 243, 0.90);
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
    letter-spacing: 0.54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.portfolio-card:hover .portfolio-overlay, 
.portfolio-card:focus .portfolio-overlay {
    transform: translateY(0);
}

.header{
    border-bottom: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    align-items: center;
    height: 80px;
}

.navig-list {
    display: flex;
}

.mail-list {
    display: flex;
    margin-left: auto;
}

.mail-list>li:not(:last-child) {
    margin-right: 40px;
}

.navig-list>li:not(:last-child) {
    margin-right: 50px;
}

.list-busines {
    display: flex;
    gap: 30px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.logow {
    display: inline-block;
    margin-bottom: 26px;
}

.add>ul>li:not(:last-child){
    margin-bottom: 12px;
}

.filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

