:root {
  --primary-color: #212121;
  --secondary-color: #2196F3;
  --white-grey: #757575;
  --black-grey: #AFB1B8;
}

.navigation__link {
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_link_active {
  color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts > .icons:hover,
.contacts > .icons:focus {
  color: var(--secondary-color);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--secondary-color);
}

.navigation__list .navigation__link:hover::after,
.navigation__list .navigation__link:focus::after {
  background: var(--secondary-color);
}

.navigation__list .navigation__link::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  border-radius: 2px;
  background: transparent;
  width: 100%;
  height: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_link_active.navigation__link::after {
  background: var(--secondary-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigation__list {
  display: flex;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts > li:not(:last-child) {
  margin-right: 40px;
}

.navigation__list > li:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--secondary-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logo__header {
  margin-right: 93px;
}
.logo__footer {
  display: inline-block;
  margin-bottom: 26px;
}
.logo__white {
  color: #FFF;
}
.logo__black {
  color: #000;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__add {
  /* display: flex; */
  color: #FFF;
  line-height: 114.286%;
  letter-spacing: 0.42px;
  font-style: normal;
  /* gap: 94px; */
}

.footer__add > ul > li:not(:last-child) {
  margin-bottom: 12px;
}

.footer__block {
  display: flex;
  gap: 94px;
  align-items: baseline;
}

.footer__form {
  display: flex;
}

.footer__email {
  border-radius: 4px;
  padding: 15px 16px 15px;
  width: 358px;
  /* padding-right: ; */
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  color: rgba(255, 255, 255, 0.6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__email:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer__button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: var(--secondary-color);
  background: var(--secondary-color);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button:hover,
.footer__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer__header {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__contacts {
  display: flex;
  gap: 10px;
}

.footer__href {
  display: flex;
  color: #fff;
  padding: 12px;
  border: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* max-width: 44px;
  max-height: 44px; */
}

.footer__href:hover,
.footer__href:focus {
  color: #fff;
  border-radius: 50%;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.info {
  color: rgba(255, 255, 255, 0.6);
}

.info:hover,
.info:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-color);
}

.team__card {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__para {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__text {
  color: var(--white-grey);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.team__name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team__contacts {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__href {
  display: flex;
  border-radius: 50%;
  color: var(--black-grey);
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__href:hover,
.team__href:focus {
  color: #fff;
  border-radius: 50%;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.team__section {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.main {
  max-height: 600px;
  padding: 200px 0;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/BackGround.jpg");
}

.main__header {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 700px;
  margin: auto;
}

.main__button {
  display: block;
  border-radius: 4px;
  border: var(--secondary-color);
  background: var(--secondary-color);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  padding: 10px 24px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button:hover,
.main__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.what {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what__list {
  display: flex;
  gap: 30px;
  max-height: 294px;
}

.what__image {
  position: relative;
}

.what__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #FFF;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.minorheader {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.busines {
  padding-top: 94px;
}

.busines__icons {
  border-radius: 4px;
  background: #F5F4FA;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.busines__header {
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.busines__text {
  color: var(--white-grey);
  line-height: 171.429%;
  letter-spacing: 0.42px;
  max-width: 270px;
}

.busines__list {
  display: flex;
  gap: 30px;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__list {
  display: flex;
  gap: 30px;
}

.customers__item {
  max-width: 170px;
  border-radius: 4px;
  border: 1px solid var(--black-grey);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__href {
  display: inline-block;
  padding: 16px 32px;
  color: var(--black-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item:hover,
.customers__href:focus .customers__item {
  border-color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item:hover .customers__href,
.customers__href:focus {
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button {
  display: inline-block;
  border-radius: 4px;
  border: #F5F4FA;
  background-color: #F5F4FA;
  padding: 6px, 22px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__header {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.portfolio__text {
  padding: 20px 24px 20px 24px;
  /* gap: 4px; */
}

.portfolio__filters {
  color: var(--white-grey);
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  /* margin-left: 24px;
  margin-bottom: 20px; */
}

.portfolio__card {
  border: 1px solid #eee;
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover,
.portfolio__card:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio__card:hover .portfolio__overlay,
.portfolio__card:focus .portfolio__overlay {
  transform: translateY(0);
}

.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__content {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: scale(0.8);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__header {
  color: var(--primary-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: var(--white-grey);
  font-size: 12px;
  letter-spacing: 0.12px;
}

.modal__item {
  margin-bottom: 10px;
}

.input__container {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
}

.modal__input:focus ~ .modal__icon {
  color: var(--secondary-color);
}

.modal__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.modal__coment {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: var(--primary-color);
  font-size: 12px;
  letter-spacing: 0.12px;
}

.modal__coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__agree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.38px;
}

.modal_agree_text {
  color: var(--white-grey);
  line-height: 171.429%;
  letter-spacing: 0.42px;
}

.modal__contract {
  color: var(--secondary-color);
  text-decoration: underline;
}

.modal__input:focus {
  border-color: var(--secondary-color);
}

.visually__hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal_check_active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 15px;
  display: none;
}

.custom__check {
  position: relative;
  border: 2px solid var(--primary-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.modal__check:checked + .custom__check > .modal_check_active {
  display: block;
}

.modal__check:checked + .custom__check {
  border-color: #fff;
}

.modal__coment:focus {
  border-color: var(--secondary-color);
}

.modal__window:not(.is__hidden) .modal__content {
  transform: scale(1);
}

.close__button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 6px;
  max-width: 30px;
  max-height: 30px;
}

.close__button:hover,
.close__button:focus {
  fill: var(--secondary-color);
}

.is__hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */