li {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
}
.logob, .logow {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.logob span{
    color: #000;
}

.logow span{
    color: #FFF;
}

.navig {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

a.navig:hover,:focus {
    color: #2196F3;
}



.shapka {
    /* width: 100%;
    height: 600px; */
    background: #2F303A;
    flex-shrink: 0;
}

.mtext {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.buttona {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #2196F3;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
}

.buttona:hover,:focus {
    background-color: #188ce8;
}

.newheader {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.texth {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}


.whyheader {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.teamSection {
    background: #F5F4FA;
    /* width: 100%;
    height: 648px; */
    flex-shrink: 0;
}

.teamCard {
    width: 270px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;

    /* material shadow v1 */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.teamText {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.teamName {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.foot {
    background: #2F303A;
}

.add {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.286%;
    letter-spacing: 0.42px;
}
.info{
    color: rgba(255, 255, 255, 0.60);
}
.info:hover,:focus {
    color: #2196F3;
}
