.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__add {
    /* display: flex; */
    color: #FFF;
    line-height: 114.286%;
    letter-spacing: 0.42px;
    font-style: normal;
    /* gap: 94px; */
}

.footer__add>ul>li:not(:last-child) {
    margin-bottom: 12px;
}

.footer__block {
    display: flex;
    gap: 94px;
    align-items: baseline;
}

.footer__form {
    display: flex;
}

.footer__email {
    border-radius: 4px;
    padding: 15px 16px 15px;
    width: 358px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    color: rgba(255, 255, 255, 0.60);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__email:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer__button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: var(--secondary-color);
    background: var(--secondary-color);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    padding: 10px 28px;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 200px;
}

.footer__button:hover,
.footer__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.footer__header {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__contacts {
    display: flex;
    gap: 10px;
}

.footer__href {
    display: flex;
    color: #fff;
    padding: 12px;
    border: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* max-width: 44px;
    max-height: 44px; */
}

.footer__href:hover,
.footer__href:focus {
    color: #fff;
    border-radius: 50%;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.info {
    color: rgba(255, 255, 255, 0.60);
}

.info:hover,
.info:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--secondary-color);
}

@media screen and (max-width: 760px) {
    .footer__block {
        display: flex;
        gap: 60px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer__form {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__email {
        width: 80%;
        margin-right: 0;
    }

    .footer__join {
        width: 100%;
    }

    .footer__join>.footer__header {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 761px) and (max-width: 1170px) {
    .footer__block {
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
    }

    .footer__form {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__email {
        width: 60%;
        margin-right: 0;
    }

    .footer__join {
        width: 100%;
    }

    .footer__join>.footer__header {
        margin-bottom: 0;
    }

}