.filter__button {
    display: inline-block;
    border-radius: 4px;
    border: #F5F4FA;
    background-color: #F5F4FA;
    padding: 6px, 22px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0.48px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    color: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__header {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.portfolio__text{
    padding: 20px 24px 20px 24px;
    /* gap: 4px; */
}

.portfolio__filters {
    color: var(--white-grey);
    font-size: 16px;
    line-height: 187.5%;
    letter-spacing: 0.48px;
    /* margin-left: 24px;
    margin-bottom: 20px; */
}

.portfolio__card {
    border: 1px solid #eee;
    max-width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover,
.portfolio__card:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__image {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
    
    background: rgba(33, 150, 243, 0.90);
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
    letter-spacing: 0.54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.portfolio__card:hover .portfolio__overlay, 
.portfolio__card:focus .portfolio__overlay {
    transform: translateY(0);
}

.filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hidden-card {
    display: none;
  }

@media screen and (max-width: 767px) {
    .filters {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .portfolio__photo {
        width: 450px;
    }

    .portfolio__card {
        max-width: 450px;
    }

    .portfolio__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
    .filters {
        margin-bottom: 30px;
    }

    .portfolio__photo {
        width: 354px;
    }

    .portfolio__card {
        max-width: 354px;
    }

    .portfolio__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio__container {
        display: flex;
        justify-content: center;
    }

    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}