$primary-color: #212121;
$secondary-color: #2196F3;
$white-grey: #757575;
$black-grey: #AFB1B8;

:root{
    --primary-color: #212121;
    --secondary-color: #2196F3;
    --white-grey: #757575;
    --black-grey: #AFB1B8;
}