.busines {
    padding-top: 94px;
}

.busines__icons {
    border-radius: 4px;
    background: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
}

.busines__header {
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.busines__text {
    color: var(--white-grey);
    line-height: 171.429%;
    letter-spacing: 0.42px;
    max-width: 270px;
}

.busines__list {
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .busines__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .busines__text{
        max-width: 700px;
        text-align: left;
    }

    .busines {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
    .busines__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }

    .busines__text{
        max-width: 354px;
        text-align: left;
    }

    .busines {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}